<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<packageSources>
		<add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
		<add key="github" value="https://nuget.pkg.github.com/odhiamboally/index.json" />
	</packageSources>

	<!-- Only use GitHub source for YOUR packages -->
	<packageSourceMapping>
		<packageSource key="nuget.org">
			<package pattern="*" />
		</packageSource>
		<packageSource key="github">
			<package pattern="odhiamboally.*" />
		</packageSource>
	</packageSourceMapping>
</configuration>